.bg-login {
    background-image: url('../../../assets/img/bg-encuesta.jpg');
    background-position: center;
}

.bg-login::after {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.096);
    z-index: 1;
    /* Coloca el fondo oscuro encima de la imagen de fondo */
}

.con-ins-login {
    color: white;
    width: 50%;
    background: linear-gradient(89deg, #7c90e7dc 100%, #fffffff5 100%) 0% 0% no-repeat padding-box;
    /* background-color: #7c90e7ef; */
    border-radius: 35px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.404);
}

.con-ins-login img {
    width: 120px;
}

.con-ins-login p {
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.con-ins-login h1 {
    font-size: 50px;
    display: inline-block;
    background: linear-gradient(90deg, #FF5733, #FFD700, #4BFF00, #3369FF, #3369FF);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.form-group-login {
    margin-bottom: 20px;
    color: rgb(235, 235, 245);
    font-weight: 500;
}
.llisting-login {
    height: 30px;
    padding: 8px 15px;
    border-color: transparent transparent rgb(235, 235, 245) transparent;
    width: 100%;
    color: rgb(235, 235, 245);
    background-color: transparent;
    letter-spacing: 0.1px;
    font-size: 14px;
}

.llisting-login:focus,
.llisting-login:focus-within {
    border-color: transparent transparent rgb(235, 235, 245) transparent;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-login{
    border-color: transparent;
    background-color: rgb(225, 225, 247);
    border-radius: 20px;
    color: #7c90e7dc;
    font-size: 20px;
    font-weight: 500;
  }
  
  .btn-login:hover{
    background-color: #7c90e7ef;
    border-color: transparent;
    color: white;
  }

/**modo responsivo/
/* Estilos para tablets (768px a 1024px de ancho) */
@media (min-width: 768px) and (max-width: 1024px) {
    .con-ins-login {
        width: 100%;
    }
}

/* Estilos  en dispositivos móviles (768px o menos de ancho) */
@media (max-width: 768px) {
    .con-ins-login {
        width: 100%;
    }
    .con-ins-login h1 {
        font-size: 40px;
    }
}

/* Estilos para el logo en dispositivos móviles (350px o menos de ancho) */
@media (max-width: 350px) {
  
}