.bg-footer{
    width: 100%;
    position: relative;
    z-index: 2;
    background-color: #7c90e7;
    color: rgb(233, 231, 243);
    font-weight: 400;
}
.bg-footer a{
    color: rgb(233, 231, 243) !important;
}
.bg-footer a:hover{
    color: rgb(214, 208, 241) !important;
}